{% extends 'base.html.twig' %}

{% block content1 %}

<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{attribute(tag, 'nom' ~ app.request.locale)}}</h1>
      </div>
    </div>
  </div>
</div>


<div class="section">
 <div class="container">
  <div class="row">


    <h1>Détail du tag {{attribute(tag, 'nom' ~ app.request.locale)}}</h1>

    {% set works = tag.works %}
    
    {% include 'works/liste.html.twig' %}

    </div>





 </div>
</div>

{% endblock %}
