{#
  ./templates/partials/nav.html.twig

#}

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('app_homepage') }}"><img src="{{asset('img/logo.png')}}" alt="Basica"></a>
    </div>
    <div class="collapse navbar-collapse">

        {{ render(controller('App\\Controller\\PageController::indexAction', { currentId: app.request.attributes.get('id')}) ) }}

    </div>
    <div class="float-right">
      <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}" >FR</a> |
      <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">EN</a>
    </div>
</div>
