{#
  ./templates/pages/index.html.twig
  Variables disponibles:
    - pages Page(Page(id, titrefr, titreen, slugfr, slugen, textefr, texteen))
#}



<ul class="nav navbar-nav navbar-right">
{% for page in pages %}
<li {% if currentId == page.id %}class="active"{% endif %}>
      <a  href="{{ path('app_pages_show', {
                          'id': page.id,
                          'slug': attribute(page, 'slug' ~ app.request.locale)
                    }) }}">
            {{attribute(page, 'slug' ~ app.request.locale)}}
          </a>
        </li>
      {% endfor %}
</ul>
