
{% extends 'base.html.twig' %}

{% block content1 %}
{% if page.id == 1 %}

{% include 'partials/slider.html.twig' %}

<div class="section section-white">
  <div class="container">
    <div class="row">

<div class="section-title">
<h1>{{ 'travaux_recents' | trans }}</h1>
</div>

      {{ render(controller('App\\Controller\\WorkController::indexAction',{
                            vue: 'liste',
                            limit: 6
      })) }}

    </div>
  </div>
</div>

<hr>

{% elseif page.id == 2 %}

    <div class="section section-breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{attribute(page, 'titre' ~ app.request.locale)}}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            {{attribute(page, 'texte' ~ app.request.locale) | raw }}
            </div>
        </div>
      </div>
    </div>

    {{ render(controller('App\\Controller\\WorkController::indexAction',{
                          vue: 'index',
                          limit: 6
    })) }}

  {% elseif page.id == 3 %}

      <div class="section section-breadcrumbs">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>{{attribute(page, 'titre' ~ app.request.locale)}}</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              {{attribute(page, 'texte' ~ app.request.locale) | raw }}
              </div>
          </div>
        </div>
      </div>

      {{ render(controller('App\\Controller\\ArticleController::indexAction',{
                            vue: 'index',
                            limit: 4
      })) }}




{% elseif page.id == 4 %}

    <div class="section section-breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{attribute(page, 'titre' ~ app.request.locale)}}</h1>
          </div>
        </div>
      </div>
    </div>


      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            {{attribute(page, 'texte' ~ app.request.locale) | raw }}
            </div>
        </div>
      </div>
    </div>

    <div class="section section-map">


          <div class="col-sm-12" style="padding:0;">
            <!-- Map -->
            <div id="contact-us-map">
          <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
          <br />
          <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
          </small>
          </iframe>
            </div>
            <!-- End Map -->
      </div>
  </div>
        <div class="section">
        <div class="container">
            <div class="row">
          <h3>{{ 'contactezNous' | trans }}</h3>
          </hr>
              <div class="col-sm-6">
                <!-- Contact Info -->
                <p class="contact-us-details">
                  <b>{{ 'adresse' | trans }}:</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br/>
                  <b>{{ 'telephone' | trans }}:</b> +44 123 654321<br/>
                  <b>Fax:</b> +44 123 654321<br/>
                  <b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
                </p>
                <!-- End Contact Info -->
              </div>
              <div class="col-sm-6">

              </div>
            </div>
        </div>
      </div>

{% endif %}

{% endblock %}

{% block content2 %}

{% if page.id == 1 %}

<div class="section">
  <div class="container">
  <div class="row">

{{ render(controller('App\\Controller\\ArticleController::indexSecondaireAction',{
                      vue: 'listeSecondaire',
                      limit: 3
})) }}

{{ render(controller('App\\Controller\\ArticleController::twitterRssAction', {
                      limit: 3

})) }}




</div>
</div>
</div>


{% endif %}

{% endblock %}



{#


{% block content1 %}

{% if page.id == 1 %}

  {{attribute(page, 'titre' ~ app.request.locale)}}
  <a href="{{path('app_homepage', {_locale: 'fr'})}}">FR</a>
  <a href="{{path('app_homepage', {_locale: 'en'})}}">EN</a>
{% endif %}

{% endblock %}

#}
