

<!-- Sidebar -->
<div class="col-sm-4 blog-sidebar">

<h4>{{ 'articles_recents' | trans}}</h4>

{{ render(controller('App\\Controller\\ArticleController::indexAction',{
                      vue: 'derniers',
                      limit: 4
})) }}

  <h4>Categories</h4>

  {{ render(controller('App\\Controller\\CategorieController::indexAction',{
                        vue: 'liste',
                        limit: 10
  })) }}

</div>
