

{% for article in articles %}

<!-- Blog Post Excerpt -->
<div class="col-sm-3">
  <div class="blog-post blog-single-post">
    <div class="single-post-title">
      <h2>{{attribute(article, 'titre' ~ app.request.locale)}}</h2>
    </div>

    <div class="single-post-image">
      <img src="{{ asset('img/blog/'~article.image)}}" alt="{{ article.image }}">
    </div>

    <div class="single-post-info">
      <i class="glyphicon glyphicon-time"></i>{{ article.dateCreation | date('d-m-y')}}
    </div>

    <div class="single-post-content">
      <p>
      {{attribute(article, 'texte' ~ app.request.locale) | slice(0,100)}}
      </p>
    <a href="{{ path('app_articles_show', {id: article.id, slug: attribute(article, 'slug' ~ app.request.locale) }) }}" class="btn">{{ 'lire_plus' | trans}}</a>
    </div>
  </div>
</div>

{% endfor %}
