{#
  ./templates/articles/liste.html.twig
  Variables disponibles:
    - article Article(id, titrefr, titreen, slugfr, slugen, image, date_creation, categorie Categorie)
#}


    <!-- Featured News -->
    <div class="col-sm-6 featured-news">
      <h2>{{ 'derniers_articles' | trans}}</h2>
  <!-- Our Articles -->

{% for article in articles %}
    <div class="row">
      <div class="col-xs-4"><a href="#"><img src="{{ asset('img/blog/'~article.image) }}" alt="{{ article.image }}"></a></div>
      <div class="col-xs-8">
        <div class="caption"><a href="#">{{attribute(article, 'titre' ~ app.request.locale)}}</a></div>
        <div class="date">{{ article.dateCreation | date('d-m-y')}}</div>
        <div class="intro">{{attribute(article, 'texte' ~ app.request.locale ) | slice(0,70) | raw}}  <a href="{{ path('app_articles_show', {id: article.id, slug: attribute(article, 'slug' ~ app.request.locale) }) }}">{{ 'lire_plus' | trans }}</a></div>
      </div>
    </div>


{% endfor %}

  </div>

      <!-- End Featured News -->
