{% extends 'base.html.twig' %}

{% block content1 %}

<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{attribute(article, 'titre' ~ app.request.locale)}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
<div class="container">
<div class="row">
  <!-- Blog Post -->
  <div class="col-sm-8">
    <div class="blog-post blog-single-post">
      <div class="single-post-title">
        <h2>{{attribute(article, 'titre' ~ app.request.locale)}}</h2>
      </div>

      <div class="single-post-image">
        <img src="{{ asset('img/blog/'~article.image)}}" alt="{{ article.image }}">
      </div>
      <div class="single-post-info">
        <i class="glyphicon glyphicon-time"></i>{{ article.dateCreation | date('d-m-y')}}<a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>
      </div>
      <div class="single-post-content">
        <h3>{{attribute(article, 'titre' ~ app.request.locale)}}</h3>
        <p>
        {{attribute(article, 'texte' ~ app.request.locale) | raw }}
        </p>

      </div>
    </div>
  </div>
  <!-- End Blog Post -->

  {% include 'articles/aside.html.twig '%}

  <!-- End Sidebar -->
</div>
</div>
</div>

{% endblock %}
