

<div class="col-sm-6 latest-news">

  <h2>{{ 'news_twitter' | trans }}</h2>

{% set iteration = 0 %}

{% for item in rss if iteration < limit  %}

<div class="row">
  <div class="col-sm-12">
    <div class="caption"><a href="full-width.html">{{ item.title | slice(0,50) }}</a></div>
    <div class="date">{{ item.lastModified | date('d-m-y')}} </div>
    <div class="intro">{{ item.title | slice(0,150)}}<a href="{{ item.link }}">Read more...</a></div>
  </div>
</div>
{% set iteration = iteration + 1 %}

{% endfor %}

</div>
