<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="fr">

<head>

  {% include 'partials/head.html.twig' %}


</head>

<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">

      {% include 'partials/nav.html.twig' %}

    </header><!--/header-->







  {% block content1 %}{% endblock %}



  {% block content2 %}{% endblock %}



	    <!-- Footer -->
	    <div class="footer">

	    {% include 'partials/footer.html.twig' %}

	    </div>

     {% include 'partials/scripts.html.twig' %}

    </body>
</html>
