
<div class="section">
 <div class="container">
  <div class="row" id="liste">

    {% include 'works/liste.html.twig' %}

  </div>

    <ul class="pager">
      <li><a href="#" id="moreWorks" data-offset="6" data-limit="6" data-url='{{ path('app_works_ajax_more') }}'>{{ 'more_works' | trans }}</a></li>
    </ul>

 </div>
</div>
