<!-- Our Portfolio -->


  <ul class="grid cs-style-3">

    {% for work in works %}

    <div class="col-md-4 col-sm-6">
      <figure>
        <img src="{{ asset('img/portfolio/'~work.imageName)}}" alt="{{ work.imageName }}">
        <figcaption>
          <h3>{{attribute(work, 'titre' ~ app.request.locale) | raw }}</h3>
          <span>{{ work.auteur.prenom }} {{ work.auteur.nom }}</span>
          <a href="{{ path('app_works_show', {id: work.id, slug: attribute(work, 'slug' ~ app.request.locale) }) }}">{{ 'portfolio_bouton' | trans }}</a>
        </figcaption>
      </figure>
    </div>

    {% endfor %}

  </ul>


<!-- Our Portfolio -->
