
{% set dataSlide = 1 %}

<ol class="carousel-indicators">
    <li data-target="#main-slider" data-slide-to="0" class="active"></li>

    {% for work in works %}
     {% if work.enVitrine == 1 %}
      <li data-target="#main-slider" data-slide-to="{{ dataSlide }}" ></li>
     {% set dataSlide = dataSlide + 1 %}
     {% endif %}
    {% endfor %}
</ol>


<div class="carousel-inner">
  <div class="item active" style="background-image: url({{ asset('img/slides/1.jpg')}})">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="carousel-content centered">
                      <h2 class="animation animated-item-1">{{ 'slider.titre' | trans}}</h2>
                      <p class="animation animated-item-2">{{ 'slider.texte' | trans }}</p>
                  </div>
              </div>
          </div>
      </div>
  </div><!--/.item-->

{% for work in works %}
{% if work.enVitrine == 1 %}
<div class="item" style="background-image: url({{ asset('img/portfolio/'~work.imageName)}})">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="carousel-content center centered">
                    <h2 class="animation animated-item-1">{{attribute(work, 'titre' ~ app.request.locale) | raw }}</h2>
                    <p class="animation animated-item-2">{{attribute(work, 'texte' ~ app.request.locale) | slice(0,50) | raw}}</p>
                    <br>
                    <a class="btn btn-md animation animated-item-3" href="#">{{ 'apprendre_plus' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div><!--/.item-->

{% endif %}
{% endfor %}

</div>
